.bgs {
  height: 200px;
  width: 200px;
  background: url('jotpeg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  filter: grayscale(15%) sepia(64%) blur(3px);
  -webkit-filter: grayscale(15%) sepia(64%) blur(3px);
  -moz-filter: grayscale(15%) sepia(64%) blur(3px);
}

.pierwszatabela table {
  table-layout: fixed;
  width: 100%;
  text-align: left;
  border: 1px solid #ccc;
  border-collapse: collapse;
}

.pierwszatabela td,
th {
  padding: 5px;
  border: 1px solid #ccc;
}

.pierwszatabela tr:nth-child(2n) {
  background-color: pink;
}
